#contact {
	background-color: $contact-bg;
	color: white;
	text-align: center;

	padding-bottom: 150px;
  
	p {
	  font-size: 1.5em;
	  cursor: pointer;
  
	  i {
		padding-left: 8px;
	  }
  
	  &:hover {
		color: gold;
	  }
	}
  }
  