// COLORS
$primary: rgb(255, 152, 25);
$navbar-bg: rgba(255, 152, 25, 0.7);
$section-blue: rgba(0, 134, 200, 0.5);
$cart-blue: rgba(0, 134, 200, 0.65);
$cart-close-hover: rgba(55, 189, 255, 0.8);
$contact-bg: rgb(0, 83, 122);
$link-color: rgb(255, 233, 211);
$link-hover: white;

$button-green: #32cd32;

$menu-item-bg: $navbar-bg;
$menu-item-button-bg: $contact-bg;
$secondary-item-bg: $contact-bg;
$secondary-item-button-bg: $button-green;

$burger-bg: rgba(0, 134, 200, 1);
$burger-color: white;
$burger-hover-bg: $primary;
$burger-hover-color: white;

// RESPONSIVE VARIABLES
$phone: 810px;
$tablet: 1000px;
$computer: 1210px;

$double-column: 590px;
$triple-column: 800px;
$quadruple-column: 1050px;
