.container {
  @media screen and (min-width: $phone) {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media screen and (min-width: $computer) {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.secondary-section {
  background-color: $section-blue;
  .item {
    box-shadow: 0px 0px 4px $contact-bg;
    background-color: $secondary-item-bg;
    color: white;
  }
}

#contact {
  background-color: $contact-bg;
  color: white;
  text-align: center;

  padding-bottom: 150px;

  p {
    font-size: 1.5em;
    cursor: pointer;

    i {
      padding-left: 8px;
    }

    &:hover {
      color: gold;
    }
  }
}

#location {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;

    iframe {
      border-radius: 20px;
      max-width: 100%;
    }
  }
}
